﻿<!DOCTYPE html>
<html ng-app="app" ng-controller="WordProcessorController">
<head>
    <title ng-bind="models.title"></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

    <div class="container">
        <h1>Type here:</h1>
        <textarea class="form-control" rows="8" id="myParagraph" name="myParagraph" ng-change="clearStat()" ng-model="models.paragraph">{{models.paragraph}}</textarea>
        <button type="button" class="btn btn-primary" style="float: right;" ng-click="getWordStats(models.paragraph)" ng-disabled="!models.paragraph">Process</button>
        <button type="button" class="btn btn-danger" style="float: right;" ng-click="clearAll()">Clear All</button>
    </div>
    <br />
    <br />
    <div class="container">
        <h1>Word Statistics:</h1>
    </div>
    <div class="container">
        <table class="table table-borderless table-condensed table-hover">
            <tbody">
                <tr>
                    <th>Sentence:</th>
                    <td>{{stats.NumberOfSentence}}</td>
                </tr>
                <tr>
                    <th>Words:</th>
                    <td>{{stats.NumberOfWords}}</td>
                </tr>
                <tr>
                    <th>Sentence with the most words:</th>
                    <td>{{stats.SentenceWithMostWords[0].Key}}</td>
                </tr>
                <tr>
                    <th>Sentence:</th>
                    <td>{{stats.SentenceWithMostWords[0].Value}}</td>
                </tr>
                <tr>
                    <th>Most used word:</th>
                    <td>{{stats.MostUsedWord}}</td>
                </tr>
                <tr>
                    <th>3rd longest word/s:</th>
                    <td>
                        <p ng-repeat="word in stats.ThirdLongestWords track by $index">
                        &quot;{{word }}&quot;
                        </p>
                        <p ng-show="stats.ThirdLongestWords.length > 1">
                            are {{stats.ThirdLongestWords[0].length}} characters
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>